
header {
    background-color: #282c34;
    height: auto;
}

.header-logo {
    text-align: center;
}

.header-title-text {
    font-size: 60px;
    color: crimson;
    font-family: Yourever, serif;
}

.header-buttons-group {
    background-color: crimson;
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap */
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}

